@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    height: 100vh; /*Altura irá ocupar toda a tela*/
    width: 100vw; /*Largura irá ocupar toda a tela*/
    background-color: rgb(200, 204, 207);
    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    width: 375px;
    height: 568px;
    border-radius: 35px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

input {
    font-size: 48px;
    background-color: #000;
    border: none;
    border-radius: 20px;
    outline: none;
    text-align: right;
    padding-top: 50px;
    color: white;
    grid-row: 1/3; /*Delimitando qual o espaço nas linhas que o input vai ocupar*/
    grid-column: 1/5; /*Delimitando qual o espaço nas colunas que o input vai ocupar*/
}

button {
    font-size: 24px;
    border: none;
    margin: 7px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

button:hover {
    opacity: 0.7;
}

.black-button {
    background: #9c9ca0;
}

.green-button {
    background-color: #0ed61e;
}

.equal {
    background: #0ed61e;
    grid-row: 6/8;
    grid-column: 4/5;
}

.gray-button {
    background: #868484;
}

.zero {
    grid-column: 1/3;
}
